<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="https://avatars0.githubusercontent.com/u/15556382?v=3&u=dcb4a0fcc7bf1118206b3e7e21b42574483a7a98&s=400" alt="{{site.name}}">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/{{site.gplus_username}}/posts">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
</section>
